*{box-sizing: border-box; margin: 0; padding: 0;}
body{font-size: 18px;font-family: "Times New Roman", Georgia, Serif;}
a{
	text-decoration: none;
	color: #f1f1f1;
	padding: 10px
}

		/*** header ***/
header{
	background: #111;
	width: 100%;
	text-align: center;
	color: #f1f1f1;
	padding:20px;
}
header div{
	margin: 20px;
}

		/*** nav ***/
nav{
	background: steelblue;
	padding: 10px;
	width:100%;
	text-align: center;
}
nav a{
	color: #111;
	padding: 10px;
}

		/*** footer ***/
footer{
	background: steelblue;
	width: 100%;
	text-align: center;
	padding: 40px;
}

		/*** content ***/
.content{
	margin:0;
	background: #fff;
}
.content p{
	font-family: 'Caveat', cursive;
	font-size: 24px;
	margin: 5%;
}
		/*** about ***/
.about{
	background: orange;
	padding: 40px;
}
.about h2{text-align: center;}
